<html>
<body>

</body>
<footer class="navbar navbar-inverse col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: white; text-align: center;"> <span> Copyright &copy; Karlin Green - Comp2106 - 2016 </span></footer>
<link href="javascripts/bootstrap.js" />
<link href="javascripts/bootstrap.min.js" />

</html>