<!-- Name: footer.ejs
     Author: Karlin Green
     Site Name: Portfolio
     Purpose: Universal footer to avoid having to edit each page when adding file references. -->

<html>
<body>

</body>
<!-- Creating a footer for all pages, and placing links to JS files -->
<footer class="navbar navbar-inverse col-xs-12 col-sm-12 col-md-12 col-lg-12" style="color: white; text-align: center;"> <span> Copyright &copy; Karlin Green - Comp2106 - 2016 </span></footer>
<script src="javascripts/bootstrap.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</html>