<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <nav>
        <li href="/" title="Portfolio">Home</li>
        <li href="../aboutMe" title="About">About</li>
        <li href="../contactMe" title="Contact">Contact</li>
        <li href="../myProjects" title="Projects">Projects</li>
        <li href="../myServices" title="Services">Services</li>
    </nav>
</body>
</html>