<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <!--Navigation in master head to prevent navigation issues (or to have a single page to look at if there is one) -->
    <nav class="navbar navbar-inverse" role="navigation">
            <ul class="nav navbar-nav navbar-left">
                <li> <a href="/" title="Portfolio">Home </a> </li>
                <li> <a href="../aboutMe" title="About">About </a> </li>
                <li> <a href="../contactMe" title="Contact">Contact </a> </li>
                <li> <a href="../myProjects" title="Projects">Projects </a> </li>
                <li> <a href="../myServices" title="Services">Services </a> </li>
            </ul>
    </nav>
    <!-- End pf navigation -->
</body>
</html>