<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <nav>
        <li> <a href="/" title="Portfolio">Home </a> </li>
        <li> <a href="../aboutMe" title="About">About </a> </li>
        <li> <a href="../contactMe" title="Contact">Contact </a> </li>
        <li> <a href="../myProjects" title="Projects">Projects </a> </li>
        <li> <a href="../myServices" title="Services">Services </a> </li>
    </nav>
</body>
</html>