<% include Dependancies/header.ejs %>

<!-- Creating a container for the content -->
<div class="aboutDetails container col-md-offset-3">
    <h1>About Me</h1>

    <!-- Creating a section with a bootstrap well (looks better in my opinion) -->
    <section class="well col-md-7">
        <p>My name is Karlin Green, i am a web design/development student at georgian college. </p>
       <p> I am a very kind and generally honest person, and prefer that others treat me the same. </p>
        <p> I have a large soft spot for animals, and someday wish to own a pet of my own (dog or cat).</p>
    </section>
    <!-- end section -->

</div>
<!-- end container -->

<% include Dependancies/footer.ejs %>