<% include Dependancies/header.ejs %>

<h1>About Me</h1>

<div class="aboutDetails">
    <p>My name is Karlin Green, i am a web design/development student at georgian college.
    I am a very kind and generally honest person, and prefer that others treat me the same.
    I have a large soft spot for animals, and someday wish to own a pet of my own (dog or cat).</p>
</div>
</body>
<% include Dependancies/footer.ejs %>
</html>