<!-- Name: contactMe.ejs
     Author: Karlin Green
     Site Name: Portfolio
     Purpose: To provide contact info so that people know how to reach me, and when.-->

<% include Dependancies/header.ejs %>

<!-- Starting container div for content -->
<div class="container col-lg-offset-0 col-md-offset-4">
    <h1>Contact  Info</h1>

    <!-- placing a well behind main content -->
    <div class="contactInfo well col-lg-8 col-md-4">
      <section id="contactInfo">
        <form>
         <p>Name: Karlin Green</p>
         <p>Phone: 519-857-2121</p>
         <p>Email: kcgreen@rogers.com (preferred)</p>
            <p>Mon-Sat: 8:00am - 9:00pm </br>
            Sunday: 10:00am - 6pm</p>
            <p>* Hours only apply if contacting by phone, i will answer emails ASAP.</p>
        </form>
      </section>
      <section id="socialMedia">
      </br>
        <p>Take a look at my <a href="https://github.com/KarlinGreen">Github</a>.</p>
        <p>Also, feel free to check out my <a href="https://ca.linkedin.com/in/karlin-green-7782418b">LinkedIn Profile</a>.</p>
      </section>
    </div>
    <!-- end contactInfo -->

</div>
<!-- end container -->

<% include Dependancies/footer.ejs %>
