<% include Dependancies/header.ejs %>

<!-- Creating container for content -->
<div class="container col-lg-offset-0 col-md-offset-4">
    <h1><%= title %></h1>

    <!-- Creating a section with a boottrap well -->
        <section class="well col-lg-8 col-md-4">
            <p>Welcome to my <%= title %>! This site was created using Node EJS, and Bootstrap.</p>
            <p><b>Feel free to look around!</b></p>
        </section>
    <!-- End section -->

</div>
<!-- End container -->

<% include Dependancies/footer.ejs %>
