<% include Dependancies/header.ejs %>

<h1>Projects</h1>
    <ul>
        <li><a href="http://www.gc200250668.computerstudi.es/Tabs/index.html">Tabs</a> </li>
        <li><a href="http://www.gc200250668.computerstudi.es/Tabs_nav/">Animated Tabs</a></li>
        <li><a href="http://www.gc200250668.computerstudi.es/mnav/">Responsive Mobile Nav</a></li>
        <li><a href="http://www.gc200250668.computerstudi.es/3d-css-transforms-inclass-start.html">3D Transforms</a></li>
        <li><a href="http://www.gc200250668.computerstudi.es/2d-css-transforms-inclass-start.html">2D Transforms</a></li>
        <li><a href="http://www.gc200250668.computerstudi.es/TDL%202015/">Javascript To-Do List (has a bug or two..)</a></li>
        <li><a href="http://www.gc200250668.computerstudi.es/musicStore/mainPage.html">Php Music store w/ no working databas (working on fixing it)</a> </br>
            <a href="http://www.gc200250668.computerstudi.es/musicStore/Exam/Exam/mainPage.html">Same site,but with a log-in page.</a></li>

    </ul>
<% include Dependancies/footer.ejs %>
