<!-- Name: myProjects.ejs
     Author: Karlin Green
     Site Name: Portfolio
     Purpose: This page links to many other sites i have created so that potential customers can see what i've got. -->

<% include Dependancies/header.ejs %>

<!-- Start container which will hold projects list (Offset to center content)-->
<div class="container col-md-offset-4">
<h1>Projects</h1>

    <!-- Projects list start -->
    <ul class="list-group col-md-4">
        <li class="list-group-item"><a href="http://www.gc200250668.computerstudi.es/Tabs/index.html">Tabs</a> </li>
        <li class="list-group-item"><a href="http://www.gc200250668.computerstudi.es/Tabs_nav/">Animated Tabs</a></li>
        <li class="list-group-item"><a href="http://www.gc200250668.computerstudi.es/mnav/">Responsive Mobile Nav</a></li>
        <li class="list-group-item"><a href="http://www.gc200250668.computerstudi.es/3d-css-transforms-inclass-start.html">3D Transforms</a></li>
        <li class="list-group-item"><a href="http://www.gc200250668.computerstudi.es/2d-css-transforms-inclass-start.html">2D Transforms</a></li>
        <li class="list-group-item"><a href="http://www.gc200250668.computerstudi.es/TDL%202015/">Javascript To-Do List (has a bug or two..)</a></li>
        <li class="list-group-item"><a href="http://www.gc200250668.computerstudi.es/musicStore/mainPage.html">Php Music store w/ no working database (working on fixing it)</a></li>
        <li class="list-group-item"><a href="http://www.gc200250668.computerstudi.es/musicStore/Exam/Exam/mainPage.html">Music store w/ sign-up page</a></li>
    </ul>
    <!-- End projects list -->

</div>
<!-- end container -->

<% include Dependancies/footer.ejs %>
