<!-- Name: myServices.ejs
     Author: Karlin Green
     Site Name: Portfolio
     Purpose: This page holds a list of skills that im comfortable working with -->

<% include Dependancies/header.ejs %>

<!-- Creating a container to hold content -->
<div class="container  col-md-offset-4">
    <h1>Services / Skills</h1>

    <!-- Creating a div to hold services list -->
        <div class="serviceList">
            <p><strong>I am proficient in all of the following skills:</strong></p>

            <!-- List of services -->
            <ul class="list-group col-md-4">
                <li class="list-group-item list-group-item-text">HTML</li>
                <li class="list-group-item list-group-item-text">CSS</li>
                <li class="list-group-item list-group-item-text">Javascript</li>
                <li class="list-group-item list-group-item-text">ASP.NET/C#</li>
                <li class="list-group-item list-group-item-text">SQL</li>
                <li class="list-group-item list-group-item-text">Photoshop</li>
                <li class="list-group-item list-group-item-text">Wordpress</li>
                <li class="list-group-item list-group-item-text">Social Media (Upkeeping)</li>
            </ul>
            <!-- End list of services -->

        </div>
        <!-- End services div -->

</div>
<!-- End container -->
<% include Dependancies/footer.ejs %>
