<% include Dependancies/header.ejs %>

<h1>Services / Skills</h1>
<div class="serviceList">
    <p>I am proficient in all of the following skills:</p>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>ASP.NET/C#</li>
        <li>SQL</li>
        <li>Photoshop</li>
        <li>Wordpress</li>
        <li>Bizapps (application building software)</li>
        <li>Social Media (Upkeeping)</li>
    </ul>
</div>

</body>
</html>